/* 

Colours:
Site BG: #ffc7e8
Text Colour: #a316a6
Main Area BG: #fff0f9
Box BG Colour: pink
Box Colour: #f28dbe

*/
body
{
    background-color: #ffc7e8;
    color: #a316a6;
}
main
{
  background-color: #fff0f9;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h1
{
  font-size: 2rem;
  text-align: center;
}
.dividends
{
  border: 10px solid pink;
  background-color: pink;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.box
{
  background-color: #f28dbe;
  height: 50px;
  flex-grow: 0.5;
  gap: 10px;
}

footer
{
  
}
#fnote
{
  padding-left: 5px;
  
}