/* 

Colours:
Site BG: #ffc7e8
Text Colour: #a316a6
Main Area BG: #fff0f9
Box BG Colour: pink
Box Colour: #f28dbe

*/
body
{
    background-color: #ffc7e8;
    color: #a316a6;
}
main
{
  background-color: #fff0f9;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h1
{
  font-size: 2rem;
  text-align: center;
}
.dividends
{
  border: 10px solid pink;
  background-color: pink;
}
.bs1
{
  background-color: #f28dbe;
}
.bs2
{

}
.bs3
{
  
}
footer
{
  
}
#fnote
{
  padding-left: 5px;
  
}